body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#javascript, #ruby, #python {
  font-size: 20px;
  text-align: center;
  margin-top: 2em;
  display: none;
}

button {
  float: right;
  margin-top: 2em;
}
