body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(198, 204, 209);
}


#javascript, #ruby, #python {
  font-size: 20px;
  text-align: center;
  margin-top: 2em;
  display: none;
  border: 20px black;
  background: rgb(255, 255, 255);
  padding:  1em;
}

button {
  float: right;
  margin-top: 2em;
}
